corpus:
  parse_file_path: __RAW_PDF_DIR__
  text_corpus_save_path: __CORPUS_OUTPUT_PATH__
  raw_chunk_path: __CORPUS_OUTPUT_PATH__
  chunk_backend_configs:
    token:
      chunk_overlap: 50
    sentence:
      chunk_overlap: 50
      min_sentences_per_chunk: 1
      delim: '[''.'', ''!'', ''?'', ''；'', ''。'', ''！'', ''？'', ''\n'']'
    recursive:
      min_characters_per_chunk: 12
  chunk_backend: sentence
  tokenizer_or_token_counter: character
  chunk_size: 512
  chunk_path: __CHUNKS_OUTPUT_PATH__
  use_title: __USE_TITLE__
retriever:
  model_name_or_path: __EMBEDDING_MODEL_PATH__
  backend_configs:
    infinity:
      bettertransformer: false
      pooling_method: auto
      model_warmup: false
      trust_remote_code: true
    sentence_transformers:
      trust_remote_code: true
      sentence_transformers_encode:
        normalize_embeddings: false
        encode_chunk_size: 256
        q_prompt_name: query
        psg_prompt_name: document
        psg_task: null
        q_task: null
    openai:
      model_name: __INDEX_MODEL_NAME__
      base_url: __INDEX_BASE_URL__
      api_key: abc
    bm25:
      lang: ch
      save_path: test_index/bm25_index
  batch_size: 16
  corpus_path: __CHUNKS_OUTPUT_PATH__
  gpu_ids: "0"
  is_multimodal: false
  backend: openai
  index_backend: milvus
  index_backend_configs:
    faiss:
      index_use_gpu: true
      index_chunk_size: 10000
      index_path: index/index.index
    milvus:
      uri: __MILVUS_URI__
      token: __MILVUS_TOKEN__
      id_field_name: id
      vector_field_name: vector
      # text_field_name: contents
      id_max_length: 64
      text_max_length: 60000
      metric_type: IP
      index_params:
        index_type: AUTOINDEX
        metric_type: IP
      search_params:
        metric_type: IP
        params: {}
      index_chunk_size: 1000
  is_demo: true
  collection_name: __COLLECTION_NAME__
  embedding_path: __EMBEDDING_OUTPUT_PATH__
  overwrite: __OVERWRITE__
